{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>

    <header>
        <div class="container">
            <div class="header__inner">
                <a href="{% url 'home' %}">
                    Главная
                </a>
                <a href="{% url 'home' %}">
                    Магазин
                </a>
              
                <h2>избранный</h2>
              
            </div>
        </div>
    </header>
    <div class="container">
        <div class="cart">
            <div class="cart_left">
                {% for i in product %}
                <div class="product_row">
                    <img src="{{i.images.url}}" alt="">
                    <div class="">
                        <h3><a href="{% url 'detail' i.id %}">{{i.title}}</a></h3>
                        <p>{{i.price}}</p>
                        <a href="{% url 'deleete' i.id %}">Delete</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="cart_right">
                <p>итоговая цена: {{total_price}} </p>
                <p>количество товара: {{amount}} </p>
                <a href="{% url 'order' %}">офформить заказ</a>
            </div>
        </div>
    </div>
</body>
</html>