{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="header__inner">
                <a href="">
                    Главная
                </a>
                <a href="">
                    Магазин
                </a>
                <a href="{% url 'cartpage' %}">
                    Корзина
                </a>
           
                <a href="{% url 'favorites_page'  %}">
                    избранный
                </a>
                <a href="{% url 'abaut'  %}">
                    о нас
                </a>
                <a href="{% url 'auth'  %}">
                    регистрация
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="card__inner">
            {% for i in nike %}
            <div class="card">
                <img width="100%" src="{{i.images.url}}" alt="">
                <h3><a href="{% url 'detail' i.id %}">{{i.title}}</a></h3>
                <h3>{{i.title}}</h3>
                <p>{{i.price}}</p>
                <button>Добавить в корзину</button>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>