{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>

    <header>
        <div class="container">
            <div class="header__inner">
                <a href="{% url 'home' %}">
                    Главная
                </a>
                <a href="{% url 'home' %}">
                    Магазин
                </a>
              
                <h2>шот </h2>
              
            </div>
        </div>
    </header>
    <div class="container">
        container
    </div>
    <div class="container">
        <div class="form">
            <form action="{% url 'order' %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="address" name="address">
                <input type="text" placeholder="type your phone number" name="phone_number">
                <textarea type="text" placeholder="type your  messager" name="message"> </textarea>
                <button type="submit">оформить</button>
            </form>
        </div>
    </div>
    
</body>
</html>